$bg-color: #1e2d3b;
$overlay-color: #2e3a46;
$title-white: #fff;
$subtitle-lightgray: #5f6368;
$d-flex: flex;
$flex-col: column;
$f-size-10: 1rem;
$f-size-9: 0.9rem;
$f-size-8: 0.8rem;
$f-size-7: 0.7rem;
$f-size-6: 0.6rem;
$f-size-5: 0.5rem;
$f-size-4: 0.4rem;
$text-bold: 700;
$text-upper: uppercase;
